/* EVENT/ ACHIEVEMENT */ 

#transparent-background {
    z-index: 2;
    background:rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

#event {
    width: fit-content;
    margin: 0 auto;
    width: 400px;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 2;

    background-color: #59A186;
    transition: .5s all;
} 

    /* ERROR-HANDLER */
    #error {
        margin: 1.5rem 3rem;
        text-align: center;
        font-size: 1rem;
    }

    /* EVENT-NAVBAR */

    #event #box-navbar {
        display: flex;
        position: relative;
        height: 60px;
        margin: 1rem;
    }

    #event #box-navbar h1 {
        margin: 0;
        font-family: 'Muli', sans-serif;
        color: #ffffff;
        font-size: 1.4rem;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    #event #box-navbar #cancel {
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        right: 65px;   

        border: none;
        padding: 0 .4rem;
        background-color: #59A186;
        font-size: .9rem;
        font-weight: 600;
        color: #ffffff;
        border-radius: 3px;
    }

    #event #box-navbar #cancel:hover {
        cursor: pointer;
        text-decoration: underline;
    }


    /* IMAGE */
    #event #image {
        width: 150px;
        height: 150px;
        margin: 0 auto;

        border-radius: 50%;
        border: 2px solid #EEE3AB;

        background: url('../images/event.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    form input[type="file"] {
        position: absolute;
        top: 149px;
        left: 50%;
        transform: translateX(-50%);

        width: 40px;
        height: 40px;   
        opacity: 0;
    }

    #event form label {
        position: absolute;
        top: 149px;
        left: 50%;
        transform: translateX(-50%);

        width: 40px;
        height: 40px;
        text-align: center;
        background-color: transparent;
    }

    #event form label img{
        width: 40px;
        height: 40px;
        opacity: 0;
    }

    #event form label:hover img {
        opacity: 1;
        cursor: pointer;
    }

    /* FORM */
    #event form {
        margin: 1rem;
    }

    #event form h2 {
        color: #ffffff;
        font-size: 1rem;
        margin: .5rem 0;
    }

    #event form input {
        box-sizing: border-box;
        border: 2px solid transparent;
        background: rgba(0,0,0,0.2);
        width: 100%;
        padding: .5rem .7rem;
        color: #ffffff;
        transition: .5s all;
        font-size: .9rem;
    }

    #event form input:focus {
        border: 2px solid #ffffff;
    }

    #event textarea {
        box-sizing: border-box;
        border: 2px solid transparent;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        resize: none;
        padding: .5rem .7rem;
        color: #ffffff;
        height: 80px;
        transition: .5s all;
        font-size: 1.2rem;  
    }

    #event textarea:focus {
        border: 2px solid #ffffff;
    }

    #event form #white-background {
        margin: 1rem -1rem -1rem -1rem;
        padding-top: 1rem;
        background-color: #ffffff;
        text-align: center;
    }

    #event form #white-background h2 {
        text-align: left;
        color: #000000;
        margin-left: 1rem;
    }

    #event form #white-background input {
        background-color: #59A186;
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }

    #event form #white-background input[type="date"] {
        font-size: 1.2rem;
    }

    #event form #white-background input[type="time"] {
        font-size: 1.2rem;
    }

    #event form #white-background #inside-post {
        margin: auto;
        padding: .8rem;
        border: none;
        background-color: #59A186;
        font-size: 1rem;
        color: #ffffff;
        font-weight: bold;
        border-radius: 3px;
        margin: 2rem 0;
    }

    #event form #white-background #inside-post:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }

    #event form #post_event {
        position: absolute;
        top: 46px;
        transform: translateY(-50%);
        right: 1rem;   
    
        padding: .8rem;
        border: none;
        background-color: #ffffff;
        font-size: 1rem;
        color: #59A186;
        font-weight: bold;
        border-radius: 3px;
    }
    
    #event form #post_event:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }

    #event form #white-background #time {
        display: flex;
        justify-content: center;
    }

    #event form #white-background #time #input-time {
        width: calc(50% - 1rem);
    }

    #event form #white-background #time #input-time #time-box {
        display: flex;
    }

    #event form #white-background #time #input-time #time-box select {
        background-color: #59A186;
        width: auto;
        margin: .25rem .5rem;
    }

    #event form #white-background #time #input-time #time-box h2 {
        margin: 0;
        color: #59A186;
        font-size: 1.6rem;
    }

    #event form #white-background select {
        padding: .5rem;
        margin: .5rem 1rem;
        width: calc(100% - 2rem);
        background-color: #59A186;
        color: #ffffff;
        font-size: 1rem;
        border: 2px solid #59A186;
        transition: .5s all;
    }

    #event form #white-background select:focus {
        border: 2px solid #ffffff;
    }


@media (max-width: 400px) {
    #event {
        width: 95%;
    }
    
    #event form #white-background #time {
        display: block;
    }

    #event form #white-background #time #input-time {
        width: 100%;
    }

    #event form #white-background #time #input-time #time-box {
        justify-content: left;
        margin-left: .5rem;
    }    
}

