body {
    background-color: #6DC5A5;
    font-family: 'Josefin Sans', sans-serif; 
    
    box-sizing: border-box;
    margin: 0;
    margin: 2rem 0;
    margin-top: calc(1rem + 60px);
    height: calc(fit-content);
    min-height: calc(100vh - 3rem - 60px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-box {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-width: 750px;

    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 2px 2px #000000;
}

/* THE IMAGE PART */
#profile-data {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#profile-data #image-box {
    width: 200px;
    height: 200px;
    position: relative;

    border-radius: 15px;
    border-right: 4px solid #6DC5A5;
    border-bottom: 4px solid #6DC5A5;

    box-shadow: 5px 5px #000000;

    overflow: hidden;
}

#profile-data #image-box img {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* THE TEXT PART */
#profile-data #text-part {
    margin-top: 1rem;
    padding-left: 1.5rem;
    width: calc(100% - 229px);
}

#profile-data #info-box h1 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px #6DC5A5;
}

#profile-data #info-box h2 {
    font-family: 'Flamenco', cursive;
    margin: 0;
    margin-left: 2px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #638bb3;

}

#profile-data #info-box h2 span {
    font-family: 'Josefin Sans', sans-serif; 
    letter-spacing: 2px;
    font-size: .8rem;
    text-shadow: .5px .5px #638bb3;
}

#choose-bar {
    width: 100%;
    background-color: transparent;
    text-align: left;
    margin-top: 2rem;
}

#choose-bar #choose-header {
    display: flex;
    justify-content: left;
}

#choose-bar #choose-header h1 {
    font-size: .9rem;
    font-weight: bold;
    color: #000000;
    text-shadow: .5px .5px #ffffff;
    letter-spacing: 3px;
    margin: 0;
    padding: .5rem 0 .4rem 0rem;

    transition: .5s all;
}

#choose-bar #choose-header h1:hover {
    cursor: pointer;
}

#choose-bar #choose-header #progress {
    width: 100px;
    text-align: center;
    background-color: transparent;
    color: #2695B8;
    text-shadow: .5px .5px #2695B8;
}

#choose-bar #choose-header #future-events {
    width: 150px;
    text-align: center;
}

#choose-bar #under-bar {
    width: 100%;
    background-color: #d6d6d6;
    height: 4px;
    position: relative;
}

#choose-bar #under-bar #bar {
    position: absolute;
    top: 0;
    left: 0;

    height: 4px;
    width: 100px;
    background-color: #000000;

    transition: .5s all;
}

/* THE ABOUT PART */
#about {
    box-sizing: border-box;
    width: 100%;
    height: 130px;
    position: relative;
    margin-top: 2rem;

    background: linear-gradient(to right, #89F7CF 30%, #ffffff 100%);
    border-radius: 10px;
}

#about #about-headers {
    position: absolute;
    top: 15px;
    left: 15px;

    display: flex;
}

#about #total-points {
    margin: 0;
    margin-left: 30px;
    font-size: .8rem;
    font-weight: bold;
}

#about #total-points span {
    font-size: 2rem;
    color: #2695B8;
}

#about #level {
    margin: 0;
    font-size: .8rem;
    font-weight: bold;
}

#about #level span {
    font-size: 2rem;
    color: #e2264d;
}

#about #level-bar {
    width: 280px;
    height: 7px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: .5px .5px #000000;

    position: absolute;
    left: 18px;
    bottom: 15px;
}

#about #remained-points {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    width: auto;

    position: absolute;
    bottom: 25px;
    left: 18px;
}

#about #remained-points span {
    font-weight: bold;
}

#about img {
    height: 145px;
    position: absolute;
    bottom: 0;
    right: 0px;
}


/* THE FUTURE EVENTS PART */
#myevents {
    box-sizing: border-box;
    width: 100%;
    height: 200px;

    overflow-x: hidden;
    overflow-y: auto;

    text-align: left;
    margin-top: 25px;
    padding-left: .75rem;
    padding-right: 1rem;

    display: none;
}

#myevents #event-title-box {
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(to right, #89F7CF 30%, #ffffff 80%);
    box-shadow: 2px 2px #000000;
    border-radius: 5px;
    margin: .5rem 0;
}

#myevents #event-title-box h1 {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-size: 1rem;
    padding: .6rem .5rem .4rem .5rem;
}

#myevents #event-title-box h1:hover {
    cursor: pointer;
    color: #ffffff;
    text-shadow: .15px .15px #ffffff;
    font-weight: normal;
    background: linear-gradient(to right, #638bb3 30%, #ffffff 80%);
    border-radius: 5px;
}

#over-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;

    z-index: 3;
    background-color: #231F20;
    opacity: 0.92;
}

#openEvent {
    top: 0;
    left: 50%;
    opacity: 0;

    transform: translate(-50%, -100%);
}

#no_future_events {
    font-size: 1rem;
    margin: .5rem .5rem;
    text-align: center;
}

#make-plans {
    width: 150px;
    margin: 0 calc(50% - 75px);
}


/* MAKE IT RESPONSIVE */
@media (max-width: 750px) {
    #profile-box {
        width: calc(100% - .75rem);
        padding: 2rem .5rem;
    }
}

@media (max-width: 700px) {
    #profile-data {
        display: block;
    }

    #profile-data #text-part {
        width: 100%;
        padding-left: 0;
        margin-top: 1.5rem;
    }

    #profile-data #image-box {
        margin: 0 auto;
    }

    #profile-data #info-box {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #profile-data #info-box h2 {
        margin-top: 5px;
    }

    #profile-data #info-box h2 span {
        display: none;
    }

    #about img {
        transform: translateX(+10px);
    }
}

@media (max-width: 395px) {
    #about #about-headers {
        left: 30px;
    }

    #about #total-points {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-left: 40px;
    }

    #about #level {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
}