#readEvent {
    margin: 0 auto;
    max-width: 500px;
    width: 90vw;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 4;

    background-color: #d6d6d6;
    transition: .5s all;
}

#readEvent #behind-image {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -37%);

    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;   
    z-index: 2;
}

#readEvent #inspect_image {  
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -35%);

    width: 90px;
    height: 90px;
    border-radius: 50%;  
    z-index: 2; 
}

#top-div {
    height: 100px;
    background-color: #6DC5A5;
    width: 100%;
    position: relative;
    display: block;
}

    /* THE CHOOSE BAR */
    #readEvent .choose-info {
        width: 100%;
        height: 35px;
        background-color: #5CA68B;

        display: flex;
        justify-content: left;
        position: relative; 
        
        z-index: 2;
        border-top: 1.5px solid #231F20;
    }

    #readEvent .choose-info .choose-description {
        width: 125px;
        height: 100%;
        text-align: center;
        transform: 1s all;

        display: flex;
        flex-direction: column;
        justify-content: center;

        background-color: #79DBB8;
    }

    #readEvent .choose-info .choose-description:hover {
        cursor: pointer;
    }

    #readEvent .choose-info .choose-description h1 {
        font-size: .7rem;
        font-weight: bold;
        letter-spacing: 2px;
        color: #000000;
    }

    #readEvent .choose-info .choose-details {
        width: 100px;
        margin: 0;
        text-align: center;
        transform: 1s all;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #readEvent .choose-info .choose-details:hover {
        cursor: pointer;
    }

    #readEvent .choose-info .choose-details h1 {
        font-size: .7rem;
        font-weight: bold;
        letter-spacing: 2px;
        color: #000000;
        margin: 0;
    }

    #readEvent .choose-info .box-underline-bar {
        width: 100%;
        height: 4px;
        background-color: #D6D6D6;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #readEvent .choose-info .underline-bar {
        height: 4px;
        width: 125px;
        background-color: #231F20;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .4s all;
    }


/* THE CONTENT */
#readEvent .inspect-info-text {
    padding: 1.5rem 1.5rem 0 1.5rem;
    
    background-color: #ffffff;
    
    max-width: 500px;
    height: 200px;
    position: relative;
    z-index: 0;
}

#readEvent #event-title {
    font-family: 'Flamenco', cursive;
    font-size: 1.7rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 0 0 1rem 0;
    text-align: left;
    word-wrap: break-word;

    max-height: 60px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

#readEvent #event-description {
    font-size: 1.2rem;
    margin: auto;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-right: .3rem;
    text-align: left;
    color: #000000;
    height: 115px;

    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

    /* The scrollbar */
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: #000000 ;
    }

    ::-webkit-scrollbar-thumb {
        background: #6DC5A5;
    }


#readEvent .inspect-info-details {
    padding: 0;
    background-color: #ffffff;

    max-width: 500px;
    height: 250px;
    position: relative;
    z-index: 1;
    text-align: center;
    
    display: none;
    overflow: hidden;
}

#readEvent .inspect-info-details #details-text {
    height: 125px;
    margin: 45px auto 0 auto;
    text-align: center;
}

#readEvent .inspect-info-details p {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.4rem;
    text-align: center;
    letter-spacing: 1px;

    height: 60px;

    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

#readEvent .inspect-info-details #half-box-under {
    width: 100%;
    height: 125px;
    background-color: #79DBB8;
}

#readEvent .inspect-info-details #half-box-under h1 {
    margin: 0;
    font-family: 'Flamenco', cursive;
    padding-top: 35px;
    font-size: 1.5rem;
}

#readEvent .inspect-info-details #square-between {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #5CA68B;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform:  translate(-50%, -50%) rotateZ(45deg);
}

#readEvent .inspect-info-details #square-between img { 
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform:  translate(-50%, -50%) rotateZ(-45deg);
}

#readEvent #date-time {
    position: absolute;
    top: 2.5rem;
    transform: translateY(-50%);
    right: 15px;
    text-align: center;

    color: #000000;
    text-shadow: 2px 2px #ffffff;
} 

#readEvent #date-time p {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
}

#number_hearts_going {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    background-color: #6DC5A5;
    text-align: center;
    padding: 1rem;

    display: flex;
    justify-content: center;
}   

#number_hearts_going h1 {
    font-size: 1rem;
    margin: 0;
    margin-top: 7px;
}

#heart-box label {
    width: 50px;
    height: 50px;
    margin: 0 1rem;
    position: relative;
}

#heart-box label img {
    width: 30px;
    height: 30px;
}

#going-box label {
    width: 50px;
    height: 50px;
    margin: 0 1rem;
    position: relative;
}

#going-box img {
    width: 26px;
    height: 26px;
    padding: 2px;
}

